{% extends "base.html" %}
{% load bootstrap3 %}

{% block nav-create %}<a class="blog-nav-item active" href="{% url 'blog:post_create' %}">Add post</a>{% endblock %}

{% block content %}

    <div class="main">
        <form method="post" action="" role="form" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">
                {% bootstrap_icon "star" %} Submit
            </button>
        {% endbuttons %}
    </div>

</form>
{% endblock %}